<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="${Title}">挽悦云</title>
    <style>
        body{
            background: #e8e8e8;
        }
        .box{
            margin: auto;
            border-radius: 23px;
            padding: 10px;
            background: #ffffff;
            width: 300px;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <div class="box">
        <h3 style="margin-bottom: 20px;text-align: center">挽悦云</h3>
        <p style="padding: 5px" th:text="${Content}">邮件内容</p>
    </div>
</body>
</html>
